body{
    margin:0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


.form-area{
    width:350px;
    height: 410px;
    margin: 100px auto;
    position: relative;
    background: rgba(255,165,0,.5);
    text-align: center;
    padding: 40px;
    border: 2px solid black;
    -webkit-border-radius: 70px 0 70px 0;
    -moz-border-radius: 70px 0 70px 0;
    border-radius: 60px 0 60px 0;
}

.form-area h2{
    margin-bottom: 45px;
    color:black;
    font-size: 20px;
}

.img-area{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top:-8%;
    left: 42%;
}

.img-area img{
    width:80%;
    padding-top: 25px;
}

input{
    width:80%;
    height: 50px;
    border-radius: 15px 0 15px 0;
    border:2px solid black;
    margin-bottom: 15px;
    background-color: transparent;
    color:black;
	font-size: 16px;
}

.form-area p{
    padding-left:30px ;
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-top: 0px;
}

.btn{
    display: inline-block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    overflow: hidden;
    position:relative;
    text-align: center;
    background: rgba(255,165,0,.6);
    border-radius: 25px;
    color:black;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    color: rgb(255, 165, 0);
    background-color: rgba(0,0,0,0.4);
}


.for-pass{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.sign{
    display:block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.sign:hover{
	color: oragnered;
}
